aiofiles>=24.0.0
coverage
hassil
home-assistant-intents
homeassistant
perplexityai==0.22.3
pytest
pytest-cov
pytest-error-for-skips==2.0.2
pytest-homeassistant-custom-component==0.13.306
pyturbojpeg
ruff==0.14.11
syrupy
ty==0.0.11
