name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Prepare release asset
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set package version
        run: |
          version="${{ github.event.release.tag_name }}"
          cd "${{ github.workspace }}/custom_components/perplexity"
          sed -i "s/\"version\": \".*\"/\"version\": \"${version}\"/" manifest.json

      - name: Create zipped release package
        shell: bash
        run: |
          cd "${{ github.workspace }}/custom_components/perplexity"
          zip perplexity.zip -r ./

      - name: Upload zip to release
        uses: softprops/action-gh-release@v2.5.0
        with:
          files: ${{ github.workspace }}/custom_components/perplexity/perplexity.zip